:root {

  
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/asset\ 15.jpeg);
  background-position: center;
  background-size: cover;
}

.scroll-btn {
  width: 20px;
  height: 35ps;
  border: solid 2px #fff;
  transform: translateY(-50px);
}

.scroll-btn::after {
  content: "";
  background-color: #fff;
  display: block;
  width: 2px;
  position: absolute;
  height: 20%;
}
